{% extends "cifsearch_template.html" %}

{% block body %}
<!-- Add icon library -->
<style>
.btn_download {
  background-color: #5c7e8a;
  border: none;
  color: white;
  padding: 5px 8px;
  cursor: pointer;
}
.btn_img_download {
  border: none;
  cursor: pointer;
  background-image: url({{url_for("static", path="/img/cif_search_logo.png") }});
  width:30px;
  height:30px;
  background-size: 100%;
  position: relative;
  top: 8px;
  left: 5px
}

/* Darker background on mouse-over */
.btn_download:hover {
  background-color: #2d3f45;
}
</style>

<div class="w3-row-padding w3-center w3-margin-top">
    <div  class="w3-row-padding">
        <a href="{{url_for('NMF') }}"><img src="{{url_for('static', path='/img/NMF-circle.png') }}" alt="NMFLogo" style="width:100px;float:right"></a>
        <a href="{{url_for('NMF') }}" style="text-decoration: none"><h2 style="float:middle">nmfMapping</h2></a>
    </div>

    <div class="w3-rest" style="position:relative;text-align:left">
        <div class="w3-container w3-margin-bottom" style="min-height:720px">
            <h3>Results</h3>
<!--               <p> <a href="{{url_for("comparison_download") }}"><button class="btn_download"><i class="fa fa-download"></i> Download All Information</button></a></p>-->
            <img src="{{ base64img1 }}" alt="Top Match Comparison" >
            <p> <b><label for="shorttable">Component Data</label> </b>
            <div id="shorttable" style="display:block;text-align:left;overflow-x:auto">
                {{metadata_df_components|safe}}
            </div> </p>
        </div>
    </div>
</div>


{% endblock %}