{% extends "cifsearch_template.html" %}

{% block body %}

{% if flash_message %}
    <ul class=flashes style="color:red">
      <li>{{ flash_message }}</li>
    </ul>
{% endif %}

<div class="w3-row-padding w3-center w3-margin-top">
    <div  class="w3-row-padding">
        <a href="{{url_for('cif_search') }}"><img src="{{url_for('static', filename='img/cif_search_logo.png') }}" alt="cifLogo" style="width:100px;float:right"></a>
        <a href="{{url_for('cif_search') }}" style="text-decoration: none"><h2 style="float:middle">Literature Search</h2></a>
    </div>

        <div class="w3-row-padding" style="position:relative;text-align:left">
        <p>This will accept a file containing powder data and search the database for matching literature.</p>
        </div>

        <div class="w3-row-padding" style="position:relative;text-align:left">
        <form class="w3-container w3-card-4" method=POST action="{{url_for('upload_data_cif') }}" enctype="multipart/form-data">

            <div class="w3-section">
                <label for = "file">File Containing Powder Data: </label>
                <input type="file" name="file" id="file" required>
            </div>
             <div class="w3-section">
                <label for = "wavelength">Wavelength: </label>
                <input type="text" name = "wavelength" placeholder="e.g.: 1.549">
            </div>
            <div class="w3-section">
                <label for = "xtype">X Axis Units: </label>
                <input type="radio" value="experimental" name = "datatype" required>
                <label for="twotheta">TwoTheta</label>&nbsp &nbsp &nbsp
                <input type="radio" value="simulated" name = "datatype" >
                <label for="q">Q</label>
            </div>
            <div class="w3-section">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

<meta http-equiv="refresh" content="3;url={{url_for('data_viz_cif_search') }}" />


{% endblock %}