{% extends "cifsearch_template.html" %}

{% block body %}
<div class="w3-row-padding w3-center w3-margin-top">

    <div class="w3-cell-row" style="position:relative;text-align:left">
        <div class="w3-section">
            <h3 align="left">CIF Powder Search Terms of Use</h3>
        </div>
        <div class="w3-section">
            <p>
                Please stay on good terms...
{#                Use of this web site is subject to the <a href="{{url_for('static', path='/terms_of_use/terms_of_use_2021-07-05.pdf') }}" style="color:blue;text-decoration: none" target="_blank">Terms of Use</a> described in the <a href="{{url_for('static', filename='terms_of_use/terms_of_use_2021-07-05.pdf') }}" style="color:blue;text-decoration: none" target="_blank">attached document</a>.#}
            </p>

        </div>
    </div>
</div>
{% endblock %}
