.df_style {
    font-size: 11pt;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid silver;

}

.df_style td, th {
    padding: 5px;
}

.df_style tr:nth-child(even) {
    background: #E0E0E0;
}

.df_style tr:hover {
    background: silver;
    cursor: pointer;
}
